# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*                 @TheSimonxy

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
/docs/_openstack  @wiit-cloud/openstack
/docs/_managedk8s @wiit-cloud/cks
/docs/_edge       @wiit-cloud/edge-stack
/docs/_ece        @wiit-cloud/cloud-applications
